{% load markup %}
{% load comments %}


<div class="blog_list">

{% for e in e_list %}
    {% get_comment_count for e as c_count %}
	<div class="blog_entry_preview">
		<div class="title">
            <a href="{{ e.get_absolute_url }}">{{e.title}}</a>
        </div>
		<p class="blog_entry_body">{{e.body|textile|truncatewords_html:100}}</p>
		<p class="blog_entry_footer">
            <p>Posted by {{e.user}} on {{e.pub_date}} : {{c_count}} comments </p>
      </p>
	</div>
{% empty %}
	<div class="blog_entry_preview">
		<h3 class="blog_entry_title">No entries found.</h3>
	</div>
{% endfor %}

</div>
